<h1 class="title">HackNotes</h1>

<p>Je partage sur ce site diverses notes et informations sur le hacking.
  HackNotes me sert avant-tout de fiche de révision et de mémos, car le hacking est un domaine très vaste et il est très facile d'oublier des choses, surtout lorsque l'on débute.
   Il se remplira au fur et à mesure que je progresse moi-même dans le domaine.</p>
<p>A terme, ce site servira de fiche mémoire ainsi que de guide pour les personnes intéressées par le hacking
  ou la cybersécurité de manière générale.</p>

